/*
Base Style
*/

body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-image: url("backgound.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.all-page{
    height: 100vh;
    background-image: url("circles-blue.svg");
    background-repeat: no-repeat;
    background-size: cover;
}


.navbar {
    top: 0;
    left: 0;
    height: 70px;

}

.menu{
    margin-top: 25px;
    display: flex;
    float: right;
}

.menu li{display: inline-block; padding-left: 50px; text-decoration: underline #0066FF; text-decoration-thickness: 2px}
.menu li a{color: white; text-decoration: none}

.logo{
    height: 100px;
    width: 170px;
    margin-top: -20px;
    margin-left: 17px;
}

.image{width: 500px; display: flex; float: right}


.button{
    padding: 18px 28px;
    background: #0066FF;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
    text-decoration: none;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    margin-top: 20px;
    margin-left: 50px;
}

.sub-title {
    margin-top: 200px;
    margin-left: 50px;
    font-weight: normal;
}